

@model IEnumerable<ProductModel>
<partial name="_Notification"/>
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h1>Product Index</h1>
        </div>
        <div class="col-6 text-end">
            <a asp-area="Admin" asp-controller="Product" asp-action="Upsert" class="btn btn-warning">Add Product</a>
        </div>
    </div>
</div>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr><th>Title</th>
        <th>ISBN</th>
        <th>Price</th>
        <th>Author</th>
        <th>Category</th>
        </tr>
    </thead>
    <tbody>
        <form method="post">
        @foreach (var obj in Model)
        {
            <tr>
                <td>@obj.Title</td>
                <td>@obj.ISBN</td>
                <td>@obj.Author</td>
                <td>@obj.Price</td>
                <td>@obj.CategoryId</td>
                <td>
                    <a  asp-controller="Product" asp-action="Upsert" asp-route-id="@obj.Id" class="btn btn-warning">Edit</a>
                </td>
                @*<td>
                    <a  asp-controller="Product" asp-action="Upsert" asp-route-id="@obj.Id" class="btn btn-light">Delete</a>
                </td>*@
            </tr>
        }
        </form>
    </tbody>
</table>

